#invitation
  %h1 Send me access email
  = simple_form_for @person, url: :access_index do |f|
    = f.input :email, as: :string, label: false, placeholder: "email"
    = f.submit "Send me access email"
