You have been invited to <strong>#{@chat.name}</strong> on <span style="text-decoration:underline;">#{@chat.date.strftime("%a, %d/%m/%Y")} at #{@chat.time.strftime("%H:%M")}</span> by #{@chat.person.email}.
