.container
  .left-column
    #chat
      %h1
        =@chat.name
        %small #{@chat.date.strftime("%a, %d/%m/%Y")} at #{@chat.time.strftime("%H:%M")}

      #suggestions
        %h2
          - if @chat.places.any?
            Suggestions
            %small (click to choose)
          - else
            No suggestions yet
        %ul
          = render partial: 'chats/places', locals: { chat: @chat }

      #team
        %h2 Who is going?
        %ul
          - @chat.invitations.each do |invitation|
            - if invitation.person.email.eql?(email)
              %li{ selected: 'selected'}=invitation.person.email
            - else
              %li{ class: (!invitation.accepted ? "unconfirmed" : "")}= invitation.person.email
          - if logged_in?
            %li
              =link_to "invite more people", new_chat_invitation_path(@chat)
  .right-column
    #prevelant-location
      .panel
        .location
        #map
