#invitations
  .container
    .left-column
      .chat
        =link_to new_chat_path, class: 'btn' do
          New nomcensus
    .right-column
      %h1 Invitations
      %ul
        - if @invitations.any?
          - @invitations.each do |invitation|
            %li{ selected: (!invitation.accepted ? "rejected" : "selected")}
              =link_to invitation.chat do
                = invitation.chat.name
              %small #{invitation.chat.date.strftime("%a, %d/%m/%Y")} at #{invitation.chat.time.strftime("%H:%M")}
