@import "font-awesome";

body {
  font-size: 22px;
  margin: 0 20px 0 0;
  min-height: 700px;
  font-family: 'Open Sans', sans-serif;
  line-height: 2.5em;
}

h1, h2 {
  font-family: 'Satisfy', cursive;
}

ul {
  padding-left: 25px;
}

a {
  color: #b13c6b;
}

#chat, #home, #place {
  margin: 30px auto;
  max-width: 1060px;
  padding: 0 50px;
}

a.btn,
input[type=submit] {
  text-decoration: none;
  border: 1px solid #999;
  padding: 10px;
  border-radius: 5px;

  &:hover {
    box-shadow: 0px 0px 3px #e5e5e5;
  }
}

.chat {
  text-align: center;
}

input[type=text] {
  border-radius: 5px;
  width: 100%;
  font-size: 2em;
  padding: 0.4em;
  margin: 10px auto;
}

select, select option {
  border-radius: 5px;
  font-size: 2em;
  padding: 0.4em;
  margin: 10px auto;
}

h1 {
  color: #220207;
  line-height: 45px;
  text-align: center;

  small {
    display: inline-block;
    font-size: 0.4em;
    margin: 0;
    color: #110104;
    text-shadow: 0px 1px 1px #666;
    font-family: 'Open Sans', sans-serif;
  }
}

#suggestions ul li {
  cursor: move;
  line-height: 1.7em;

  small {
    display: block;
    margin-top: -10px;
    color: #666666;
  }
}

.panel {
  text-align: center;
  padding: 20px 0px 40px;
  background-color: #b13c6b;
  box-shadow: 2px 2px 2px #999;
  color: white;
  font-shadow: 0px 0px 1px #333;

  .location {
    font-family: 'Satisfy', cursive;
    margin-bottom: 20px;
    font-size: 2em;
  }
}

#suggestions h2 small {
  font-size: 0.5em;
  display: block;
  position: absolute;
  margin-top: -10px;
  color: #999;
}

.btn.small {
  font-size: 0.7em;
  padding: 5px 10px;
  margin: 0 auto;
}

#map {
  display: block;
  margin: 0 auto;
  height: 500px;
}

#team {
  h2 {
    margin-bottom: 0px;
  }

  ul {
    padding-left: 0;
    margin-top: 0px;
    line-height: 1.6em;

    li {
      display: inline;
      padding-right: 0;

      &:after {
        content: ", ";
      }

      &:last-child:after {
        content: "";
      }
    }
  }
}

.unconfirmed {
  color: #94a7b8;
}

footer {
  font-family: 'Shadows Into Light Two', cursive;
  text-align: center;
  font-weight: bold;
  font-size: 0.8em;
}

.toolbar {
  z-index: 999;
  a {
    text-decoration: none;
    font-size: 1.4em;
    color: #999;
    text-shadow: 0 2px 2px #666;
    &:hover {
      color: #666;
      text-shadow: 0 2px 2px #b13c6b;
    }
  }

  position: fixed;
  top: 10px;
  right: 0;
  width: 50px;
}

.left-column, .right-column {
  vertical-align: top;
  display: inline-block;
}

.left-column {
  width: 45%;
}

.right-column {
  width: 50%;
}

.container {
  margin: 0;
}

.author {
  margin: 0px auto;
  width: 165px;
  line-height: 18px;
}

#invitation {
  margin: 0 auto;
  text-align: center;

  input[type=text] {
    text-align: left;
    margin: 0 10px;
    max-width: 80%;
  }
}

#chat {
  h1 {
    font-size: 2.4em;
    text-align: center;
    small {
      display: block;
      font-size: 0.35em;
      padding-left: 0;
    }
  }
}

@media only screen and (max-width: 64em) {
  #invitation {

    input[type=text] {
      max-width: 70%;
    }
  }

  #chat {
    max-width: 100%;
    padding: 0 20px;

  }

  .right-column {
    display: block;
    width: 100%;
  }

  #team, #suggestions {
    vertical-align: top;
    display: inline-block;
    width: 45%;
  }

  #suggestions {
    margin-right: 50px;
  }

  .left-column {
    width: 100%;
  }

  footer {
    position: relative;
    margin-top: 30px;
    a {
    }
  }
  body {
    margin: 0 0 0;
  }

  #invitations {
    ul {
      font-size: 0.8em;

      li[selected] {
        &:after  {
          margin-left: 30px;
        }
      }
    }
  }
}

@media only screen and (max-width: 40em) {
  #invitation {
    input[type=text] {
      max-width: 50%;
    }
  }

  #team, #suggestions {
    vertical-align: top;
    display: block;
    width: 100%
  }

  body {
    margin: 0 0 0;
    font-size: 1.2em;
  }

  #invitations {
    ul {
      font-size: 0.85em;
      small {
        display: block;
        line-height: 1.1em;
        font-size: 0.8em;
        padding-left: 30px;
      }
    }
  }
}

#place form {
  margin: 0 auto;
}

li[selected=selected]  {
  font-weight: bold;
  text-shadow: 1px 1px 7px #999;
}

#suggestions ul {
  list-style-type: none;
  padding: 0;
  margin: 0;

  li:before {
    content: '\2013';
    float: left;
    margin: 0 0.5em;
  }

  li:hover {
    text-shadow: 1px 1px 7px #999;
  }
}

.current_user {
  position: absolute;
  right: 20px;
}

#invitations {

  .chat {
    margin-top: 150px;

    .btn {
      padding: 25px 50px;
      background-color: #999;

      &:hover{
        box-shadow: -1px 2px 4px #b13;
        color: #b13;
        text-shadow: 0px 0px 1px #b13;
      }
    }
  }

  ul {
    padding-left: 100px;
    margin: left;
    list-style-type: none;
    padding: 0 30px;
    margin: 0;

    li:before {
      content: '\2013';
      float: left;
      margin: 0 0.5em;
    }
  }


  li[selected] {
    text-shadow: none;

    &:after  {
      font-size: 0.7em;
      box-shadow: 1px 1px 5px #888;
      padding: 2px;
      color: white;
    }
  }

  li[selected=selected] {
    &:after  {
      content: "GOING";
      background-color: #39ac68;
    }
  }

  li[selected=rejected] {
    &:after  {
      background-color: #718ea1;
      content: "NOT GOING";
    }
  }
}



