body {
  min-height: 300px;
  font-size: 22px;
}

#chat, #home {
  margin: auto;
  max-width: 1060px;
  min-height: 500px;
  margin-top: 100px;
}

a.btn,
input[type=submit] {
  text-decoration: none;
  border: 1px solid #999;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0px 0px 3px #666666;

  &:hover {
    box-shadow: 0px 0px 3px #e5e5e5;
  }
}

input[type=submit] {

}

.chat {
  text-align: center;
}

#chat {
  text-align: center;
}

h1 {
  font-family: 'Shadows Into Light', cursive;
}

#chat {
  input[type=text] {
    border-radius: 5px;
    width: 75%;
    font-size: 1.5em;
    padding: 0.4em;
    text-align: center;
  }
}
