%meta{charset: "utf-8"}
%meta{name: "viewport", content: "width=device-width, initial-scale=1.0" }
%meta{name: "robots", content: "index, follow" }
%meta{property: "fb:admins", content: "622070503" }
%meta{property: "og:type", content: "website" }
%meta{property: "og:locale", content: "en_GB" }
%meta{property: "og:site_name", content: "NomCensus"}
%meta{name: "keywords", content: "nom, nomnom, lunch, chat, decision"}
%meta{property: "og:image", content: "http://nomcensus.com/images/logo.png"}
%meta{ property: "og:url", content: "http://nomcensus.com" }
%meta{property: "og:title", content: "NomCensus"}
%meta{property: "og:description", content: "NomCensus - Lunch choice made easy"}
%meta{ name: "description", content: "NomCensus - Lunch choice made easy"}
