.toolbar
  =link_to root_path, class: 'help', title: "Home" do
    =fa_icon "home"
  =link_to "https://github.com/despo/nomcensus", class: 'github', title: "Github" do
    =fa_icon "github"
  =link_to "https://github.com/despo/nomcensus/issues/new", class: 'bugs', title: "Bugs" do
    =fa_icon "bug"
  =link_to "http://twitter.com/despo", class: 'author', title: "@despo" do
    =fa_icon "info-circle"
  - if logged_in?
    =link_to invitations_path, class: 'author', title: "Your Invitations" do
      =fa_icon "bars"
    =link_to logout_path, class: 'author', title: "Logout #{email}" do
      =fa_icon "sign-out"
  - else
    =link_to new_access_path, class: 'author', title: "Login" do
      =fa_icon "sign-in"
